body {
	/*background-image: url(http://rokco.org/backdrop/images/001.jpg);*/
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: black;
	background-attachment: fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;

}

body {
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s;
}

body:after {
	/*content: url(resources/001.jpg) url(resources/002.jpg) url(resources/003.jpg) url(resources/004.jpg) url(resources/005.jpg) url(resources/006.jpg) url(resources/007.jpg) url(resources/008.jpg) url(resources/009.jpg);*/
	display: none;
}

#small {
	font-size: 0.3em;
}

#txt {
	font-size: 220px;
	color: lightgrey;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	bottom: 120px;
	right: 100px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#txt2 {
	font-size: 70px;
	color: lightgrey;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	bottom: 50px;
	right: 100px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#txt3 {
	font-size: 30px;
	color: lightgrey;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	top: 60px;
	left: 100px;
	background-color: rgba(110,110,110,0.6);
}

#info {
	font-size: 30px;
	color: lightgrey;
	position: absolute;
	top: 20px;
	right: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	opacity: 0.4;
	padding: 10px 40px;
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    cursor:help;
}

#info:hover {
	opacity: 1;
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

#infodiv {
	font-size: 15px;
	color: lightgrey;
	font-family: 'Raleway', sans-serif;
	top: 25px;
	right: 80px;
	height: 30px;
	z-index: 99;
	background-color: rgba(110,110,110,0.6);
	opacity: 0;
	padding: 10px;
	padding-top: 20px;
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    margin-right:10px;
    padding-bottom: 17px;
	text-shadow: none;
}

#weather {
	font-family: 'Raleway', sans-serif;
	font-size: 80px;
	color: lightgrey;
	position: absolute;
	bottom: 50px;
	left: 100px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@font-face {
	font-family: 'weather';
    src: url('artill_clean_icons-webfont.eot');
}

a {
	text-decoration: none;
	color: lightgrey;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
}

#infodiv a {
	text-decoration: underline;
}

ul {
	list-style: none;
	padding-right: 30px;
}